.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.bookmarkContent {
  border: 5px solid tomato;
  background: white;
  z-index: 6;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 97vw;
  max-width: 750px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 75vh;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1rem;
  transition: all 0.5s ease-out;
  border: 5px solid tomato;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.bookmarkContentBlack {
  border: 5px solid black;
}
.bookmarkContentGreen {
  border: 5px solid green;
}
.bookmarkContentBlue {
  border: 5px solid blue;
}

.bookmarkTitle {
  text-align: center;
  margin-bottom: 0.5rem;
}
.bookMarksList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  border: 3px solid tomato;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 0.5s ease-out;
  background: #dedede;
}
.bookMarksListBlue {
  border: 3px solid blue;
}
.bookMarksListBlack {
  border: 3px solid black;
}
.bookMarksListGreen {
  border: 3px solid green;
}

.closeBtn {
  color: white;
  background: tomato;
  border: none;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 5px;
  padding: 0.1rem 0 0 0;
}

.imgSide {
  width: 100px;
  height: 50px;
  display: flex;
}
.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.bookmarkItem {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  padding: 0.5rem 0.3rem;
  background: #fff;
}
.bookMarkRightSide {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  align-items: center;
}
.bookMarkRightBottom,
.link,
.bookmarkTitle {
  color: tomato;
  transition: all 0.5s ease-out;
}
.bookMarkRightBottomBlue,
.linkBlue,
.bookmarkTitleBlue {
  color: blue;
  transition: all 0.5s ease-out;
}
.bookMarkRightBottomGreen,
.linkGreen,
.bookmarkTitleGreen {
  color: green;
  transition: all 0.5s ease-out;
}
.bookMarkRightBottomBlack,
.linkBlack,
.bookmarkTitleBlack {
  color: black;
  transition: all 0.5s ease-out;
}

a {
  text-decoration: underline;
}

.removeBookmarkIcon {
  cursor: pointer;
  color: tomato;
  transition: all 0.5s ease-out;
}
.removeBookmarkIconBlack {
  color: black;
}
.removeBookmarkIconBlue {
  color: blue;
}
.removeBookmarkIconGreen {
  color: green;
}

.info {
  text-align: center;
  color: tomato;
}
.infoBlack {
  color: black;
}
.infoBlue {
  color: blue;
}
.infoGreen {
  color: green;
}
