.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  z-index: 5;
}

.errorContent {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: rgb(255, 242, 239);
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  width: 70vw;
  max-width: 350px;
  z-index: 6;
  border: 5px solid rgb(194, 30, 1);
  transition: all 0.5s ease-out;
}

.errorContentBlue {
  border: 5px solid rgb(0, 0, 120);
  background-color: hsl(240, 92%, 95%);
}
.errorContentBlack {
  border: 5px solid black;
  background-color: rgb(204, 204, 204);
}
.errorContentGreen {
  border: 5px solid rgb(2, 139, 2);
  background-color: rgb(240, 254, 240);
}

.borderLine > h2 {
  margin-bottom: 1.5rem;
}
.borderLine {
  border: 3px solid rgb(179, 27, 0);
  color: rgb(185, 28, 1);
  padding: 1rem;
  border-radius: 10px;
  transition: all 0.5s ease-out;
}
.borderLineBlack {
  border: 3px solid black;
  color: black;
}
.borderLineGreen {
  border: 3px solid rgb(0, 161, 0);
  color: rgb(0, 110, 0);
}
.borderLineBlue {
  border: 3px solid rgb(0, 0, 139);
  color: rgb(0, 0, 155);
}

.button {
  text-align: right;
  margin: 1rem auto;
  width: 5rem;
  height: 2rem;
  text-align: center;
  border-radius: 10px;
  background: rgb(183, 28, 1);
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.buttonBlue {
  background: rgb(0, 0, 138);
}
.buttonBlack {
  background: rgb(45, 45, 45);
}
.buttonGreen {
  background: rgb(0, 131, 0);
}

.button:hover {
  opacity: 0.7;
}

@media screen and (min-width: 678px) {
  .errorContent {
    max-width: 500px;
  }
}
