.content {
  min-height: 100vh;
  padding: 2rem 0;
  background: rgb(255, 228, 223);
  transition: all 0.5s ease-out;
}
.contentBlack {
  background: rgb(204, 204, 204);
}
.contentBlue {
  background: rgb(188, 188, 255);
}
.contentGreen {
  background: rgb(163, 255, 163);
}

.mainContent {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 0.5rem;
  width: 95vw;
  max-width: 1470px;
  margin: 0 auto;
}

.themeBar {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateX(-5%);
  z-index: 1;
  cursor: pointer;
}
.bookmark {
  display: inline-block;
  position: fixed;
  z-index: 1;
  bottom: 10%;
  left: 7%;
  border-radius: 50%;
  background: white;
  padding: 0.2rem 0.45rem 0.1rem 0.45rem;
  color: tomato;
  border: 4px solid tomato;
  cursor: pointer;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-out;
}
.count {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  padding: 0 0.3rem;
  color: tomato;
  border: 3px solid tomato;
}
.bookmarkBlack {
  color: black;
  border: 4px solid black;
}
.bookmarkBlue {
  color: blue;
  border: 4px solid blue;
}
.bookmarkGreen {
  color: green;
  border: 4px solid green;
}

@media screen and (min-width: 650px) {
  .bookmark {
    display: none;
  }
  .title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .mainContent {
    padding: 0.5rem 0 0 0;
  }
}
